.content {
	border-top: 1px solid #e8e8e8;
	margin-bottom: 30px;
}
.index-preview {
	text-align: center;
	@include maxWidth;
	background: url(../img/main-bg.jpg) 0 0 no-repeat;
	color: #fff;
	padding: 34px 0 55px 0;
	overflow: hidden;
	&__img {
		margin: -22px 0 0 15px;
		display: inline-block;
		@include transform(rotate(2deg));
	}
	&__title {
		margin: 0;
		font-size: 57px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	&__subtitle {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 40px;
		font-weight: normal;
		margin: 0;
		display: inline-block;
	}
	&__text-wrap {
		margin: 10px 0 0 -155px;
		@include transform(rotate(-2deg));

	}
}
.advantages,
.todo {
	text-align: center;
	padding: 74px 0 40px;
	&__list {
		@include display(flex);
		@include justify-content(space-around);
		margin: 38px 0;
		padding: 0;
		&-item {
			display: inline-block;
			vertical-align: top;
			flex-basis: 22%;
			margin: 10px;
		}
		&-img {
			margin-bottom: 31px;
		}
		&-title {
			margin: 0 auto 7px;
			font-weight: bold;
			max-width: 290px;
			font-size: 20px;
			color: #352a28;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		&-text {
			font-family: $os;
			color: #352a28;
			margin: 0 auto;
			max-width: 290px;
		}
	}
}
.advantages {
	padding: 86px 0 52px 0;
	&__list {
		&-title {
			@include display(flex);
			width: 100%;
			@include justify-content(center);
			@include align-items(center);
			min-height: 50px;
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
}
.service {
	@include maxWidth;
	text-align: center;
	* {
		@include transition(all 0.2s ease-in-out);
	}
	&-index {
		.title {
			display: inline-block;
			text-align: right;
			position: relative;
			top: 80px;
			font-size: 30px;
		}
		.service {
			&__list {
				padding: 0;
				margin: 0;
				list-style-type: none;
				@include display(flex);
				&-wrap {
					display: inline-block;
					width: calc(100% - 150px);
					margin-left: 10px;
				}
				&-item {
					position: relative;
					padding: 80px 10px 10px 10px;
					flex-basis: 100%;
					min-height: 430px;
					max-width: 270px;
					@include display(flex);
					text-align: center;
					&:hover {
						.service__list-item-bg {
							opacity: 1;
						}
						.service__list-item-title {
							opacity: 0.9;
							top: 0;
							color: #fff;
						}
						.service__list-item-text {
							display: block;
							opacity: 0.9;
							max-height: 20000px;
							height: auto;
						}
						.service__list-item-img {
							@include filter(brightness(2.5));
							top: 0;
						}
					}
					&-bg {
						opacity: 0;
						@include position(absolute, 0 0 0 0);
						width: 100%;
						height: 100%;
						z-index: -1;
					}
					&-title {
						text-transform: uppercase;
						color: #2b2f38;
						font-size: 12px;
						position: relative;
						top: 60px;
					}
					&-text {
						color: #fff;
						opacity: 0;
						font-size: 11px;
					}
					&-img {
						top: 60px;
						position: relative;
						&-wrap {
							height: 98px;
							padding: 10px;
							@include display(flex);
							@include align-items(center);
							@include justify-content(center);
						}
					}
				}
			}
		}
	}
	&__list {
		&-item {
			a {
				color: inherit;
				width: 100%;
				&:hover,
				&:focus {
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
}

.top-tour {
	@include maxWidth;
	@include display(flex);
	&__block {
		position: relative;
		padding: 0;
		&:not(:last-child) {
			a {
				&:before {
					content: '';
					@include position(absolute, null null 0 0);
					width: 100%;
					height: 325px;
					background: url(../img/top-shadow.png) 0 0 no-repeat;
					@include transition(all 0.2s ease-in-out);
				}
				&:hover {
					&:before {
						opacity: 0.7;
					}
					.top-tour__block-preview {
						opacity: 1;
					}
				}
			}
			
		}
		&:last-child {
			@include align-items(center);
			@include justify-content(center);
			background-color: #29195b;
			@include background-image(linear-gradient(60deg, #c17656 -25%, #fdbf93 125%));
			@include transition(all 0.2s ease-in-out);
			&:hover {
				opacity: 0.9;
			}
			a {
				height: 100%;
				@include display(flex);
				@include flex-wrap(wrap);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				color: #fff;
				text-transform: uppercase;
				font-size: 50px;
				line-height: normal;
				font-weight: bold;
				&:focus,
				&:hover {
					color: inherit;
					color: #fff;
					text-decoration: none;
				}
				* {
					color: #fff;
					width: 100%;
					text-align: center;
				}
			}
		}

		&-description {
			@include position(absolute, null 39px 33px 39px);
			z-index: 10;
			color: #fff;
		}
		&-price {
			margin: 0 0 -8px;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
		}
		&-title {
			font-size: 30px;
			margin: 0 0 2px;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: bold;
		}
		&-preview {
			font-family: $os;
			color: #fff;
			opacity: 0.9;
			margin: 0;
			line-height: 22px;
		}
	}
}
.action-slider {
	@include maxWidth;
	overflow: hidden;
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		&-item {
			position: relative;
			text-align: center;
			&-action {
				text-transform: uppercase;
				color: #fff;
				border-radius: $br;
				display: inline-block;
				font-weight: bold;
				font-size: 20px;
				margin: 0 0 15px;
				padding: 6px 16px;
				background-color: #e900ff;
				@include background-image(linear-gradient(60deg, #c17656 -25%, #fdbf93 125%));
			}
			&-subtitle {
				color: #febf93;
				letter-spacing: 2px;
				margin: 0 0 -15px;
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
			}
			&-title {
				margin: 0 0 10px;
				text-transform: uppercase;
				color: #fff;
				letter-spacing: 3px;
				font-weight: bold;
				font-size: 50px;
			}
			&-preview {
				@include position(absolute, 0 0 null 0);
				@include display(flex);
				@include justify-content(center);
				@include align-content(center);
				@include flex-wrap(wrap);
				height: 100%;
				*:not(.action-slider__list-item-action) {
					display: block;
					width: 100%;
				}
				&-text {
					font-family: $os;
					font-size: 20px;
					color: #fff;
					opacity: 0.9;
					margin: 0;	
				}
			}
		}
	}

	// css слайдера акции
	.bx-wrapper .bx-controls-direction a {
		width: 71px;
		height: 71px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 30px;
		height: 5px;
		margin: 0 9px;
		border-radius: 3px;
		background-color: #e3e1e8;
		@include transition(all 0.2s ease-in-out);
		&:hover,
		&.active {
			background-color: #834226;
		}
	}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		bottom: -56px;
	}
	.bx-wrapper .bx-pager {
		background: #f8f8f8;
		padding: 40px 0 30px;
	}
}


.testimonials {
	padding: 75px 0 35px 0;
	&__item {
		margin: 6px 0 16px 0;
		&.m-b-30 {
			margin-bottom: 30px;
		}
		&-img {
			max-width: 100px;
			max-height: 100px;
			margin-bottom: 12px;
			border-radius: 50%;
			&-wrap {
				text-align: right;
			}
		}
		&-name {
			color: #352a28;
			font-size: 20px;
			display: inline-block;
			margin: 0 5px 3px 0;
			font-weight: bold;
			letter-spacing: 2px;
		}
		&-city {
			color: #834226;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin: 5px 0 10px;
		}
		&-preview {
			font-family: $os;
			font-style: italic;
			color: #352a28;
			margin: 0;
		}
		&-rating {
			background: url(../img/rating-star.png) 0 0 repeat-x;
			width: 110px;
			top: 1px;
			height: 16px;
			position: relative;
			display: inline-block;
			&-active {
				background: url(../img/rating-active-star.png) 0 0 repeat-x;
				width: 23px;
				height: 100%;
				@include position(absolute, 0 null null 0);
			}
		}
	}
	&__title-wrap {
		text-align: right;
		margin-right: 20px;
	}
	&__btn {
		margin-top: 14px;
	}
	&__page-title {
		color: #342927;
		font-size: 20px;
		margin-top: 45px;
		text-transform: uppercase;
	}
}

.hotels-choose {
	background: #342927 url(../img/hotels-bg.jpg) 33% 0 no-repeat;
	@include maxWidth;
	height: 677px;
	width: 100%;
	background-size: cover;
	.title {
		color: #fff;
		// text-align: right;
		position: relative;
		margin-top: 190px;
		* {
			color: #fff;
		}
		&:before {
			content: '';
			@include position(absolute, 17px -140px null null);
			width: 225px;
			height: 64px;
			background: url(../img/arrow.png) 0 0 no-repeat;
		}
	}
	&__filter {
		&-list {
			// text-align: right;
			list-style-type: none;
			padding: 0;
			margin: 33px 0 0;
			&-item {
				margin-bottom: 7px;
			}
			&-trigger {
				color: #a1918d;
				@include transition(all 0.2s ease-in-out);
				position: relative;
				font-size: 18px;
				&.active {
					text-decoration: none;
					color: #fff;
					cursor: default;
					&:before {
						content: '';
						@include position(absolute, 7px -18px null null);
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #fff;
						@include background-image(linear-gradient(60deg, #c17656 -25%, #fdbf93 125%));
					}
				}
				&:focus,
				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
	&__slider {
		list-style-type: none;
		padding: 0;
		margin: 30px 0;
		&-wrap {
			// max-width: 765px;
			max-width: 320px;
			float: right;
			margin: 150px 60px 0 0;
			.bx-wrapper .bx-controls-direction a {
				height: calc(100% - 30px);
				top: 30px;
				margin-top: 0;
				width: 60px;
				opacity: 1;
				background: linear-gradient(60deg, #c17656 -25%, #fdbf93 125%);
				&:before {
					content: '';
					@include position(absolute, 0 0 0 0);
					background:  url(../img/hotels-slider-arrow.png) center no-repeat;
					width: 100%;
					height: 100%;
					@include transition(all 0.2s ease-in-out);
				}
			}
			.bx-wrapper .bx-prev {
				left: -60px;
				border-radius: 3px 0 0 3px;
				@include transform(rotate(0deg));
				&.disabled {
					cursor: default;
					display: block;
					&:before {
						opacity: 0.3;
					}
				}
				&:before {
					@include transform(rotate(180deg));
				}
			}
			.bx-wrapper .bx-next {
				right: -60px;
				border-radius: 0 3px 3px 0;
				&.disabled {
					cursor: default;
					display: block;
					&:before {
						opacity: 0.3;
					}
				}
			}
		}
		&-item {
			background: #fff;
			padding: 17px;
			&-name {
				color: #342927;
				font-size: 24px;
				margin: 11px 0 4px 0;
			}
			&-img {
				margin: 0 0 10px 0;
				// float: left;
			}
			&-rating {
				&-block {
					margin-bottom: 10px;
				}
				&-img {
					display: inline-block!important;
					margin-right: 7px;
				}
				&-text {
					color: #adaaaa;
					font-size: 17px;
					display: inline-block;
					margin: 0;
					position: relative;
					top: 3px;
				}
			}
			&-price {
				color: #834226;
				font-size: 22px;
				font-weight: bold;
				margin: 0;
				&-val {
					color: #342927;
					font-size: 17px;
					font-weight: normal;
				}
			}
		}
	}
	&__map {
		&-holder {
			@include position(absolute, 40px null null -40px);
		}
		&-dot {
			@include position(absolute, 7px -18px null null);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #a1918d;
			@include transition(all 0.2s ease-in-out);
			&.active,
			&:hover {
				@include background-image(linear-gradient(60deg, #c17656 -25%, #fdbf93 125%));
			}
		}
	}
	&__btn {
		margin: 40px 0 0 -60px;
	}
}

.breadcrumbs {
	margin: 35px 0;
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		&-item {
			display: inline-block;
			vertical-align: top;
			position: relative;
			&:not(:last-child) {
				padding-right: 35px;
				&:before {
					content: '/';
					@include position(absolute, 0 15px null null);
				}
			}
		}
		&-link {
			text-transform: uppercase;
			letter-spacing: 1.4px;
			color: #342927;
			border-bottom: 1px solid transparent;
			@include transition(all 0.2s ease-in-out);
			&:not(.current):hover,
			&:not(.current):focus {
				color: #342927;
				text-decoration: none;
				border-bottom: 1px solid rgba(52, 41, 39, 0.45);;
			}
			&.current {
				color: #7e7770;
			}
		}
	}
}

.contact {
	&__block {
		background: #fff;
		height: calc(100% - 80px);
		&-inner {
			padding-bottom: 20px;
		}
		&-title {
			text-transform: uppercase;
			color: #2b2f38;
			margin: 0 0 19px 0;
			font-size: 18px;
			letter-spacing: 2px;
		}
		&-text {
			color: #342927;
			font-size: 16px;
			margin: 0 0 20px;
			font-family: $os;
			span {
				padding-left: 24px;
			    display: block;
			    vertical-align: top;
			}
			img {
				float: left;
				margin: 4px 0 0 0;
			}
		}
	}
}
.feedback {
	&__rating {
		&-block {
			text-align: center;
			@include display(flex);
			@include justify-content(center);
			@include flex-direction(row-reverse);
			margin: 12px -10px 20px 10px;
		}
		&-input {
			display: none;
			&:checked ~ label {
				background: url(../img/active-star.png) 0 0 no-repeat;	
			}
		}
		&-label {
			width: 26px;
		    height: 26px;
		    background: url(../img/star.png) 0 0 no-repeat;
		    display: inline-block;
		    vertical-align: top;
		    cursor: pointer;
		    float: right;
		    margin-right: 10px;
		    @include transition(all 0.2s ease-in-out);
		}
	}
}

.place {
	&__block {
		background: #fff;
		border: 1px solid #e6e6e6;
		text-align: center;
		@include transition(all 0.2s ease-in-out);
		margin-bottom: 30px;
		&:hover {
			border: 1px solid #e09d78;
			box-shadow: 0px 0px 2px #e09d78
		}
		&-section {
			margin-bottom: 30px;
		}
		a {
			&:focus,
			&:hover {
				text-decoration: none;
				color: inherit;
			}
		}
		&-name {
			color: #2b2f38;
			margin: 0;
			padding: 30px 0;
			font-size: 18px;
			text-transform: uppercase;
		}

		&-ext {
			max-width: 350px;
			margin: 0 auto 30px auto;
			position: relative;
			text-align: center;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				box-shadow: 0px 0px 9px #e09d78;
			}
			a {
				color: inherit;
				&:focus,
				&:hover {
					text-decoration: none;
					color: inherit;
				}
			}
			&-img {
				
			}
			&-info {
				@include display(flex);
				@include position(absolute, 0 0 0 0);
				@include justify-content(center);
				@include align-items(center);
				@include align-content(center);
				@include flex-wrap(wrap);
				width: 100%;
				height: 100%;
				&-img {
					margin-bottom: 25px;
					padding: 0 70px;
				}
				&-title {
					flex-basis: 100%;
					font-size: 18px;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 1px;
					margin: 0;
				}
			}
			&-btn {
				max-width: 350px;
				margin: 0 auto;
			}
		}
	}
}

.service {
	&__block {
		background: #fff;
		max-width: 480px;
		border: 1px solid #e6e6e6;
		text-align: center;
		@include transition(all 0.2s ease-in-out);
		margin-bottom: 30px;
		&:hover {
			border: 1px solid #e09d78;
			box-shadow: 0px 0px 2px #e09d78;
			.service__block-text {
				opacity: 1;
			}
			.service__block-text-title {
				margin: 0;
			}
		}
		a {
			text-decoration: none;
			color: inherit;
			&:hover,
			&:focus {
				text-decoration: none;
				color: inherit;
			}
		}
		&-img-wrap {
			position: relative;
		}
		&-text-wrap {
			padding: 15px;
			min-height: 150px;
			position: relative;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			@include flex-wrap(wrap);
		}
		&-icon {
			@include position(absolute, 0 0 0 0);
		}
		&-text {
			margin: 0;
			color: #6e6968;
			font-family: $os;
			min-height: 60px;
			@include transition(all 0.2s ease-in-out);
			width: 100%;
			display: block;
			opacity: 0;
			text-align: center;
			&-title {
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #2b2f38;
				margin: 0 0 -90px 0;
				@include transition(all 0.4s ease-in-out);
				width: 100%;
				display: block;
			}
		}
	}
}

.wysiwyg {
	&__block {
		@include clearfix;
		color: #342927;
		p {
			margin: 0 0 10px 0;
		}
		img {
			margin: 10px;
			&[align="left"] {
				margin: 0 20px 20px 0;
			}
			&[align="right"] {
				margin: 0 0 20px 20px;
			}
		}
		a {
			color: #342927;
			border-bottom: 1px solid rgba(52, 41, 39, 0.52);
			&:focus,
			&:hover {
				border-bottom: 1px solid transparent;
				text-decoration: none;
				color: #342927;
			}
		}
	}
}


.item {
	&__section {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(center);
		margin: 30px -35px 0 -35px;
	}
	&__block {
		flex-basis: 28%;
		margin: 0 20px 40px 20px;
		max-width:350px;
		border: 1px solid #e5e5e5;
		@include transition(all 0.2s ease-in-out);
		&:hover {
		    border: 1px solid #e09d78;
		    box-shadow: 0px 0px 2px #e09d78;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:focus,
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}
		&-description {
			padding: 0px 10px 25px 30px;
			margin-top: -27px;
			&-price {
				margin: 0 0 14px;
				padding: 13px 15px;
				font-weight: bold;
				font-size: 18px;
				text-transform: none;
				&:hover {
					opacity: 1;
				}
			}
			&-name {
				color: #2b2f38;
				margin: 0 0 7px;
				font-size: 18px;
				letter-spacing: 1.7px;
				text-transform: uppercase;
			}
			&-date {
				margin: 0;
				color: #adaaaa;
				font-size: 16px;
			}
		}
	}
}