h2.title
	span наши 
	| услуги
.service__list-wrap
	ul.service__list
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-1.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-1.png", alt="Service img")
				p.service__list-item-title аренда и покупка жилья
				p.service__list-item-text Спорткар, яхта, вертолет?
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-2.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-2.png", alt="Service img")
				p.service__list-item-title подбор персонала
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-3.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-3.png", alt="Service img")
				p.service__list-item-title организация событий
				p.service__list-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repudiandae illum voluptatibus corporis veniam vel molestias maiores soluta. Commodi, neque.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-4.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-4.png", alt="Service img")
				p.service__list-item-title бронирование отелей
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-5.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-5.png", alt="Service img")
				p.service__list-item-title аренда любого транспорта
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-6.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-6.png", alt="Service img")
				p.service__list-item-title трансфер
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-7.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-7.png", alt="Service img")
				p.service__list-item-title организация поездок
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-8.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-8.png", alt="Service img")
				p.service__list-item-title Экскурсии на удобном языке
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.
		li.service__list-item
			a(href="#!")
				img.service__list-item-bg(src="img/content/service-bg-9.jpg", alt="service bg")
				.service__list-item-img-wrap
					img.service__list-item-img(src="img/service-img-9.png", alt="Service img")
				p.service__list-item-title билеты на любые мероприятия
				p.service__list-item-text Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно.