ul.todo__list
	li.todo__list-item
		img.todo__list-img(src="img/todo-img-1.png", alt="Todo-img")
		p.todo__list-title Казино
		p.todo__list-text Он приходит и разговаривает с Каннингеймом; затем появляется, когда Каннингейма здесь нет, и хочет узнать.
	li.todo__list-item
		img.todo__list-img(src="img/todo-img-2.png", alt="Todo-img")
		p.todo__list-title Спорткары
		p.todo__list-text Я слежу только за тем, чтобы работал гараж, чтобы в нем могли работать люди и чтобы каждый мог починить машину и привезти кусок хлеба домой.
	li.todo__list-item
		img.todo__list-img(src="img/todo-img-3.png", alt="Todo-img")
		p.todo__list-title пляж
		p.todo__list-text Дженкинс терпеливо слушает. Он знает, что у Уилла Дарнелла есть кое-какая за стенами гаража, но Дарнелл знает, что он знает.
	li.todo__list-item
		img.todo__list-img(src="img/todo-img-4.png", alt="Todo-img")
		p.todo__list-title Архитектура
		p.todo__list-text В какую-то минуту мне показалось, что он хотел сказать, но до смерти испугался чего-то. После этого он замкнулся в себе, и больше я не мог вытянуть из него ни слова».
	li.todo__list-item
		img.todo__list-img(src="img/todo-img-5.png", alt="Todo-img")
		p.todo__list-title формула 1
		p.todo__list-text Дженкинс отвечает: «Я так не думаю. Его родители говорят, что он спал, и я чувствую, что они не лгут, чтобы выгородить сына.