- menu = ["О нас", "Благодарности", "Партнерство", "Контакты"]
- footMenu = ["О компании", "Отели", "Туры", "Информация"]
- footService = ["Аренда и покупка жилья", "Аренда транспорта", "Организация событий", "Подбор персонала", "Трансферы"]
- footAction = ["Трансфер на Bentley", "$100 для казино"]
- footComunication = ["Контакты", "Позвоните мне"]