// хлебные крошки
.breadcrumbs
	ul.breadcrumbs__list
		li.breadcrumbs__list-item
			a.breadcrumbs__list-link(href="#!") Главная
		li.breadcrumbs__list-item
			a.breadcrumbs__list-link(href="#!") подкатегория
		li.breadcrumbs__list-item
			span.breadcrumbs__list-link.current #{title}
// конец хлебные крошки
