doctype html
include includes/_vars
html(lang="ru")
	include includes/_head
	body
		.main-wrapper
			// шапка 
			include includes/_header
			// конец шапка
			// контент
			.content.waves-bg
				block content
			.buffer
			// конец контент
		// футер
		include includes/_footer
		// конец футер
		// модальные окна
		include includes/_modals
		// конец модальные окна
		// подключаемые скрипты
		include includes/_script
		// конец подключаемые скрипты