extends _layout
block append head
	- title = 'театр le bla bonjure ipsum'
	meta(name="description" content="")
	meta(name="keywords" content="")
	title #{title}
block content
	.container.p-lg-125
		include includes/modules/breadcrumbs
		.row
			// часть контента
			.col-lg-9.col-sm-8.m-b-30.p-b-30
				h2.title
					span Театр
					| Le bla bonjure ipsum
				.border-panel.m-t-20
					.wysiwyg__block
						img(src="img/content/fun-1.jpg", alt="" align="left")
						p Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно. 
						p Он не собирался искать ни нового кольца для ключей, ни нового куска кожи, чтобы выдавить на нем собственные инициалы.
						p Он снял машину с тормоза и повел ее в аэропорт, откуда думал добраться до дома одиннадцатичасовым автобусом. Однако вместо него он вернулся к родителям полуночным рейсом и, уже лежа в постели и вспоминая жаркие поцелуи Ли, вдруг осознал, что в минувший вечер потерял целый час и не знал, где мог провести его. Этот час пропал где-то по дороге от дома Кэйботов к аэропорту. Эрни почувствовал себя, как человек, переворачивающий весь дом и ищущий какую-то понадобившуюся вещицу, которая на самом деле находится в другой его руке. Ощущение было немного пугающее.
						p Спорткар, яхта, вертолет?  Может Лирджет или подводную лодку? Мы можем организовать все что угодно. 
						p Он не собирался искать ни нового кольца для ключей, ни нового куска кожи, чтобы выдавить на нем собственные инициалы.
						p Он снял машину с тормоза и повел ее в аэропорт, откуда думал добраться до дома одиннадцатичасовым автобусом. Однако вместо него он вернулся к родителям полуночным рейсом и, уже лежа в постели и вспоминая жаркие поцелуи Ли, вдруг осознал, что в минувший вечер потерял целый час и не знал, где мог провести его. Этот час пропал где-то по дороге от дома Кэйботов к аэропорту. Эрни почувствовал себя, как человек, переворачивающий весь дом и ищущий какую-то понадобившуюся вещицу, которая на самом деле находится в другой его руке. Ощущение было немного пугающее.
						img(src="img/content/fun-2.jpg", alt="" align="right")
						p Он не собирался искать ни нового кольца для ключей, ни нового куска кожи, чтобы выдавить на нем собственные инициалы.
						p Он снял машину с тормоза и повел ее в аэропорт, откуда думал добраться до дома одиннадцатичасовым автобусом. Однако вместо него он вернулся к родителям полуночным рейсом и, уже лежа в постели и вспоминая жаркие поцелуи Ли, вдруг осознал, что в минувший вечер потерял целый час и не знал, где мог провести его. Этот час пропал где-то по дороге от дома Кэйботов к аэропорту. Эрни почувствовал себя, как человек, переворачивающий весь дом и ищущий какую-то понадобившуюся вещицу, которая на самом деле находится в другой его руке. Ощущение было немного пугающее.
			// конец часть контента
			// сайдбар
			.col-lg-3.col-sm-4.m-b-30
				h3.page-subtitle.sm-text-center Другие интересные места
				// список других мест
				.row
					- for (i=1;i<=3; i++) {
						.col-sm-12.col-xs-6.col-xxs-12
							.place__block-ext
								a(href="#")
									img.place__block-ext-img(src="img/content/ext-#{i}.jpg", alt="img")
									.place__block-ext-info
										img.place__block-ext-info-img(src="img/ext-p-#{i}.png", alt="img")
										p.place__block-ext-info-title Ресторан
					- }
				// конец список других мест
				a.btn.btn-block.place__block-ext-btn(href="#!") Показать все
			// конец сайдбар
		// список 
		.row
			.col-sm-6.col-xs-6.col-xxs-12.xxs-text-center
				h3.page-subtitle Другие музеи
			.col-sm-6.text-right.col-xs-6.hidden-xxs
				a.btn.btn-default(href="#!") Показать все
		.place__block-section
			.row
				- for (i=1;i<=4; i++) {
					.col-sm-6.col-md-3.col-xs-6.col-xxs-12
						.place__block
							a(href="#!")
								img.place__block-img(src="img/content/place-#{i}.jpg", alt="place")
								p.place__block-name sun grande le bla
				- }
		// конец список