header.header
	.container
		.row
			.col-sm-3.col-lg-2.col-xs-12
				// лого
				a.header__logo(href="/")
					img(src="img/logo.png" alt="Site Logo")
				// конец лого
			.col-md-6.col-sm-1.col-xs-12
				// меню
				button.header__menu-mob-btn.visible-sm.visible-xs(type="button" collapse)
					span.visible-xs Меню
				.header__menu
					// логотип для мобильного меню
					img.visible-sm.visible-xs(style="padding: 13px;" src="img/logo.png", alt="menu logo")
					ul.header__menu-list
						each item, i in menu
							li.header__menu-item
								- if (i == 0) {
									span.header__menu-link.current #{item}
								- } else {
									a.header__menu-link(href="#!") #{item}
								- }
					.text-center
						a.btn.header__mob-trigger(href="javascript:void(0);" collapse) Закрыть
				// конец меню
			.col-sm-8.col-md-3.col-lg-4.col-xs-12
				// форма обратного звонка
				.header__callback.hidden-md
					form(action="#callback")
						.header__callback-wrap
							label.header__callback-label Номер Телефона
							input.header__callback-input(type="tel" required only-numbers)
						button.header__callback-btn(type="submit") Позвоните Мне
				// конец форма обратного звонка
				// телефон
				a.header__phone(href="tel:+88006303030") 8 800 630 30 30
				// конец телефон