ul.advantages__list
	li.advantages__list-item
		img.advantages__list-img(src="img/advant-img-1.png", alt="advantages-img")
		p.advantages__list-title сделано руками, а не роботом
		p.advantages__list-text Вы получаете индивидуальный подход и можете в любой момент внести абсолютно любые изменение в свое путешествие.
	li.advantages__list-item
		img.advantages__list-img(src="img/advant-img-2.png", alt="advantages-img")
		p.advantages__list-title Будет интересно
		p.advantages__list-text Мы знаем о Монако не по наслышке, поэтому будут учтены все нюансы.
	li.advantages__list-item
		img.advantages__list-img(src="img/advant-img-3.png", alt="advantages-img")
		p.advantages__list-title гарантия лучшей цены
		p.advantages__list-text Нашли дешевле? Мы сделаем скидку!
	li.advantages__list-item
		img.advantages__list-img(src="img/advant-img-4.png", alt="advantages-img")
		p.advantages__list-title Любые формы оплаты
		p.advantages__list-text Наличные, безналичные, чеки, кредитные карты, оплата онлайн.
	li.advantages__list-item
		img.advantages__list-img(src="img/advant-img-5.png", alt="advantages-img")
		p.advantages__list-title Поддержка 24/7
		p.advantages__list-text Наши менеджеры готовы решить любую нестандартную ситюацию в любое время суток.