.action-slider
	ul.action-slider__list
		li.action-slider__list-item
			img.action-slider__list-item-img(src="img/content/action-1.jpg", alt="Action")
			.action-slider__list-item-preview
				p.action-slider__list-item-action акция
				p.action-slider__list-item-subtitle трансфер на
				p.action-slider__list-item-title bentley в подарок
				p.action-slider__list-item-preview-text При заказе отеля на сумму до €5,000
		li.action-slider__list-item
			img.action-slider__list-item-img(src="img/content/action-2.jpg", alt="Action")
			.action-slider__list-item-preview
				p.action-slider__list-item-action акция
				p.action-slider__list-item-subtitle трансфер на
				p.action-slider__list-item-title Вертолете в подарок
				p.action-slider__list-item-preview-text При заказе отеля на сумму до €5,000
		li.action-slider__list-item
			img.action-slider__list-item-img(src="img/content/action-3.jpg", alt="Action")
			.action-slider__list-item-preview
				p.action-slider__list-item-action акция
				p.action-slider__list-item-subtitle при заселении
				p.action-slider__list-item-title hennessy xo
				p.action-slider__list-item-preview-text При заселении дарим Хэннеси и прочие приятные подарки.
		li.action-slider__list-item
			img.action-slider__list-item-img(src="img/content/action-4.jpg", alt="Action")
			.action-slider__list-item-preview
				p.action-slider__list-item-action акция
				p.action-slider__list-item-subtitle от 4-ех ночей
				p.action-slider__list-item-title 1 ночь в подарок
				p.action-slider__list-item-preview-text При заказе от 4-ех ночей - одну ночь получаете в подарок.
		li.action-slider__list-item
			img.action-slider__list-item-img(src="img/content/action-5.jpg", alt="Action")
			.action-slider__list-item-preview
				p.action-slider__list-item-action акция
				p.action-slider__list-item-subtitle для casino de pari
				p.action-slider__list-item-title €100 в подарок
				p.action-slider__list-item-preview-text При заселении дарим Хэннеси и прочие приятные подарки.